.env
.history
__pycache__
coderefineai_executor/build
coderefineai_executor/dist
coderefineai_executor/coderefineai_executor.egg-info
poetry.lock
crystalblue
dist
code_data.json
dataset.json
data/new_dataset.json
samples.json
dataset/RQ1KG/dataset_with_test_cases.json
test.ipynb
dataset/Inefficient_reasoning_bter.json
dataset/Inefficient_reasoning.json
dataset/balanced_samples.json
accuracy_llama_gemini-2.0-flash.txt
judgement_samples_200_gemini-2.0-flash.json
judgement_samples_200_llama_v2.json
dataset/balanced_samples_w_one_solution_per_type.json
dataset/judgement_samples_200.json 
dataset/judgement_samples_200_llama.json 
judgement_samples_200_llama.json
judgement_samples_200.json
llm/real_key.py
